
.spaceTabs-container{
    display: "flex", justifyContent: "center", gap: 16
    width: 1184px
    
}

.space-card{
    width: 200px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 16px;
    border: 2px solid transparent;
    transition: 0.3s;
    text-align: center;
    font-family: IRANYekanMobileFN ;
}

.space-card img{
    width: 100%;
    height: 257px;
    object-fit: cover;
}
.space-card span{
    display: block;
    padding: 8px;
}
.space-card :hover{
    transform: translateY(-4px);
}
.space-card:active{
    box-shadow: -2px 2px gray;
}