:root{
    --primary-color: #32127A;
    
}

.spaceTabs-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: nowrap;
}

.space-card{
    flex-basis: auto;
    width: 200px;
    cursor: pointer;
    padding: 8px 16px;
    overflow: hidden;
    transition: 0.3s;
    text-align: center;
    font-family: IRANYekanMobileFN;
}

.space-card-img{
    width: 100%;
}
.space-card-span{
    display: block;
    padding: 8px;
}
.space-card:hover{
    transform: translateY(-4px);
    
}
.space-card:active{
    box-shadow: 0 2px gray;
}