.masonry {
    column-count: 3;
    column-gap: 24px;
}

@media (max-width: 1000px) {
    .masonry {
        column-count: 2;
    }
}

@media (max-width: 600px) {
    .masonry {
        column-count: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.96);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.2s ease-out;
}